<div>
	<p>leaning AJAX (Asyncharous Javascript And Xml)</p>
	<p>1. without reloading/submiting the form we can get the data from the server(db)</p>
	<p>http call are 4 types 1. GET 2. POST 3. DELETE 4.PUT</p>
	<p> below are the http requests </p>
	<p>GET : pulling the data only (select * from emp)</p>
	<p>POST :creating the data(Create Table <Table name> inset values .....) </p>
	<p>DELETE : delete the record</p>
	<p>PUT : updating the record (update Query ...... unna record ni modifify or update)</p>
	<p>http://techfunda.com/howto/576/http-delete-server-request</p>
	<p>https://jsonplaceholder.typicode.com/</p>
</div>