<div class="col-md-6 col-md-offset-3">
    <h3>{{title}}</h3>
    <br>
    <form name="forgetform" role="row" novalidate>
        <div class="form-group">
            <label for ="forgetpassword">FORGET PASSWORD</label>
            <p> (Please enter your email or phone number , we will send confirmation code)</p>
            <input type="text" name="forgetpassword" class="form-control" placeholder="Email / Phonenumber enter" required/>
            <p ng-show="forgetform.forgetpassword.$dirty && forgetform.forgetpassword.$error.required && forgetform.forgetpassword.$invalid" class="help-block">Email or Phonenumber must be required</p>
            <br>
            <button type="submit" class="btn btn-info">NEXT</button>
        </div>
    </form>
</div>